<!DOCTYPE html>
<html lang="en" ng-app="TableOrderApp">
	<head>
		<meta charset="UTF-8">
		<title>All Replies</title>

		<link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.css">
		<link rel="stylesheet" href="/libs/font-awesome/css/font-awesome.css">

	</head>
	<body>

		<!--Start of container-->
		<div class="container" ng-controller="TableOrderCtrl as tableOrderCtrl">
			<br></br>
			<!--refresh button-->
			<div class="row">
				<div class="col-md-offset-10 col-md-2">
					<button class="btn btn-primary" type="button" ng-click="tableOrderCtrl.getOrders()">
						<i class="fa fa-refresh fa-spin"></i>
						Refresh
					</button>
				</div>
			</div> <!--end of refresh button-->

			<!--list for not attending and/or error-->
			<div class="col-xs-12 
                    col-sm-12
                    col-md-12
                    col-lg-12">
			<h2>Not Attending/Error</h2>
			<table class="table table-striped">
				<thead>
					<tr>
						<td><code>Name</code></td>
						<td><code>Email</code></td>
						<td><code>No of Tickets</code></td>
						<td><code>Attending or Not Attending</code></td>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="o in tableOrderCtrl.orders | filter: { att: 'NA' }:true">
						<td>{{ o.name }}</td>
						<td>{{ o.email  }}</td>
						<td>{{ o.tickets }}</td>
						<td>{{ o.att }}</td>
					</tr>
				</tbody>
			</table> 
			</div><!--end list for not attending and/or error-->

			<br></br>
			
			<!--list for attending-->
			<div class="col-xs-12 
                    col-sm-12
                    col-md-12
                    col-lg-12">
			<h2>Attending</h2>
			<table class="table table-striped">
				<thead>
					<tr>
						<td><code>Name</code></td>
						<td><code>Email</code></td>
						<td><code>No of Tickets</code></td>
						<td><code>Attending or Not Attending</code></td>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="o in tableOrderCtrl.orders | filter: { att: 'A' }:true">
			
						<td>{{ o.name }}</td>
						<td>{{ o.email  }}</td>
						<td>{{ o.tickets }}</td>
						<td>{{ o.att }}</td>
					</tr>
				</tbody>
			</table> 
			</div><!--end list for attending-->
	
		</div><!--end of container-->
		
	</body>

		<script src="/libs/jquery/dist/jquery.js"></script>
		<script src="/libs/bootstrap/dist/js/bootstrap.js"></script>
		<script src="/libs/angular/angular.js"></script>

		<script src="tables.js"></script>

</html>