<!DOCTYPE html>
<html ng-app="cssImggall">
<head>
<title></title>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<script type="text/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
<script type="text/javascript">

var cssImggallModule = angular.module('cssImggall', []);
cssImggallModule.controller('imageGalleryController', function ($scope) {
/*Developed by http://jharaphula.com*/
/*Folder path where all the images are stored*/
$scope.imgFolderPath = "images/";
/*Image details like File Name & SEO related alt & title tags for each image*/
$scope.imageDetails = [
{'thumbnail': 'image-1.png', 'realImage': 'original-image-1.png', 'alt': 'label them click', 'title': 'label them click'},
{'thumbnail': 'image-2.png', 'realImage': 'original-image-2.png', 'alt': 'label them click', 'title': 'label them click'},
{'thumbnail': 'image-3.png', 'realImage': 'original-image-3.png', 'alt': 'label them click', 'title': 'label them click'},
{'thumbnail': 'image-4.png', 'realImage': 'original-image-4.png', 'alt': 'label them click', 'title': 'label them click'},
{'thumbnail': 'image-5.png', 'realImage': 'original-image-5.png', 'alt': 'label them click', 'title': 'label them click'},
{'thumbnail': 'image-6.png', 'realImage': 'original-image-6.png', 'alt': 'label them click', 'title': 'label them click'},
{'thumbnail': 'image-7.png', 'realImage': 'original-image-7.png', 'alt': 'label them click', 'title': 'label them click'},
{'thumbnail': 'image-8.png', 'realImage': 'original-image-8.png', 'alt': 'label them click', 'title': 'label them click'},
{'thumbnail': 'image-9.png', 'realImage': 'original-image-9.png', 'alt': 'label them click', 'title': 'label them click'},
{'thumbnail': 'image-10.png', 'realImage': 'original-image-10.png', 'alt': 'label them click', 'title': 'label them click'},
{'thumbnail': 'image-11.png', 'realImage': 'original-image-11.png', 'alt': 'label them click', 'title': 'label them click'},
{'thumbnail': 'image-12.png', 'realImage': 'original-image-12.png', 'alt': 'label them click', 'title': 'label them click'}
];
/*Function to assign real image path*/
$scope.popupOriginal = function(originalImagePath) {
$("#popupDiv").show();
$("#popupDiv").html("<img src='images/" + originalImagePath + "' />");
};
});


$(document).mouseup(function (e)
{
var container = $("#popupDiv");
if (!container.is(e.target) && container.has(e.target).length === 0) {
container.hide();
}
});
</script>

<style type="text/css">
/*Styles related to ul li elements*/
.cssImggall { text-align:center; }
.cssImggall ul { padding: 0; margin: 0; }
.cssImggall ul li { display: inline; cursor: pointer; }
.imgStyle { margin: 10px; }
/*Style related to popup window*/
#popupDiv {
display: none;
position:fixed;
top: 50%;
left: 50%;
width: 640px;
height: 400px;
margin-top: -12em;
margin-left: -20em;
border: 0px solid #ddd;
}
</style>
</head>
<body>
<div class="cssImggall" ng-controller="imageGalleryController">
<ul>
<li ng-repeat="image in imageDetails">
<img ng-click="popupOriginal(image.realImage);" class="imgStyle" alt="{{ image.alt }}" title="{{ image.title }}" src="{{ imgFolderPath }}{{ image.thumbnail }}" />
</li>
</ul>
<!--Popup Div to show original Images-->
<div id="popupDiv"></div>
</body>
</html>
