<!DOCTYPE html>
<html lang="en" ng-app="FXApp">
	<head>
		<meta charset="UTF-8">
		<title>my doc</title>
		<script src="bower_components/angular/angular.js"></script>
		<script src="fx.js"></script>
		<script src="index.js"></script>
	</head>
	<body ng-controller="FXCtrl as fxCtrl">

		<h1>FX - the app</h1>

		<table>
			<tr>
				<td>Base</td>
				<td>
					<input type="text" size="10" 
						ng-model="fxCtrl.base"
						placeholder="Exchange rate base">
				</td>
			</tr>
			<tr>
				<td>Currency</td>
				<td>
					<input type="text" size="10" 
						ng-model="fxCtrl.currency"
						placeholder="Currency">
				</td>
			</tr>
			<tr>
				<td></td>
				<td>
					<button type="button" ng-click="fxCtrl.getRates()">
						Get it
					</button>
				</td>
			</tr>
		</table>

		<h2 ng-show="!fxCtrl.ready">No rates yet!</h2>
		<div ng-show="fxCtrl.ready">
			<h2>Rates</h2>
			<table>
				<tr ng-repeat="(k, v) in fxCtrl.rates">
					<td>{{ k }}</td>
					<td>{{ v }}</td>
				</tr>
			</table>
		</div>
		
	</body>
</html>
